<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">

<head>

	<title>Alterar Aluno</title>
	<div th:replace="fragments/fragments :: headIncludes"></div>

</head>

<body>
	<div th:replace="fragments/fragments :: header"></div>

	<div class="container" style="margin-top: 20px;">

		

		<form method="POST" action="/alterarAluno" th:object=${aluno}>
			<input type="hidden"  th:field="*{id}"/>
			<div class="row" style="padding-top: 20px;">
				<div class="input-field col s12">
					Nome:
					<input type="text" value="" th:field="*{nome}" />
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					Selecione o curso:
					<select th:field=*{curso}>
						<option th:each="curso : ${T(com.alunoapp.Enums.Curso).values()}" th:value="${curso}"
							th:text="${curso}"></option>
					</select>
				</div>
				<div class="input-field col s5">
					Matricula:
					<input readOnly type="text" value="${aluno.matricula}" id="matricula" th:field="*{matricula}" />
				</div>
				<div class="input-field col s6">
					Selecione o status:
					<select th:field=*{status}>
						<option th:each="status : ${T(com.alunoapp.Enums.Status).values()}" th:value="${status}"
							th:text="${status}"></option>
					</select>
				</div>
				<div class="input-field col s6">
					Turno:
					<input type="text" value="" th:field="*{turno}" />
				</div>
			</div>




			<button type="submit" class="waves-effect waves-light btn">Salvar</button>
			<a type="button" class="waves-effect waves-light btn" th:href="@{/listarAlunos}">Voltar</a>

		</form>




	</div>





	<div th:replace="fragments/fragments :: js"></div>
</body>

</html>