<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">

<head>

	<title>Lista de Alunos</title>
	<div th:replace="fragments/fragments :: headIncludes"></div>

</head>

<body>
	<div th:replace="fragments/fragments :: header"></div>

	<div class="container" style="margin-top: 20px;">

		<a type="button" class="waves-effect waves-light btn" th:href="@{/}">Voltar</a>

		<table class="highlight">
			<thead>
				<th>Nome</th>
				<th>Curso</th>
				<th>Matricula</th>
				<th>Turno</th>
				<th>Status</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr th:each="aluno : ${alunos}">
					<td><span th:text="${aluno.nome}"></span></a></td>
					<td><span th:text="${aluno.curso}"></span></td>
					<td><span th:text="${aluno.matricula}"></span></td>
					<td><span th:text="${aluno.turno}"></span></td>
					<td><span th:text="${aluno.status}"></span></td>
					<td>
						<a th:href="@{deletarAluno/{id}(id=${aluno.id})}" class="waves-effect waves-light btn-small btn-floating"><i
								class="material-icons left">delete</i></a>

						<a th:href="@{alterarAluno/{id}(id=${aluno.id})}" class="waves-effect waves-light btn-small btn-floating"><i
								class="material-icons left">edit</i></a>
					</td>
				</tr>
			</tbody>
		</table>



	</div>





	<div th:replace="fragments/fragments :: js"></div>
</body>

</html>